a
	{
		width: 72px;
		margin: 0px;
		display: none;
		padding: 10px;
		text-align: center;
		border: dashed;
		border-top-width: 0px;
		border-right-width: 0px;
		border-bottom-width: 0px;
		border-left-width: 0px;
	}